* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.container {
    max-width: 1920px;
    padding: 0 405px;
    margin: 0 auto;
}

.header {
    background-color: #000;
    padding-top: 14px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__list {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__link {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    a {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    span {
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    &__btn {
        background: none;
        border: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 12px;
        text-align: right;
        color: gray;
        display: flex;
        align-items: center;
        gap: 10px;
    }

}

.phone {
    display: flex;
    align-items: center;
    gap: 18px;
}

.navigate {
    background-color: #0f0f0f;
    padding: 25px 0;
    margin-top: 15px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1700px) {
        flex-direction: column;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: gray;
        padding: 30px 20px;
        cursor: pointer;
    }

    & .active {
        background-color: #1f1f1f;
        color: white;
    }

    
}

.navigate__slide {
    background-image: url(пиктурес/jackman.jpg);
    background-size: cover;
    padding: 150px 0;
    background-repeat: no-repeat;
   
}

.navigate__p {
    font-family: second-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 721px;
    margin: 0 auto;
}

.porten__logo_1 {
    display: block;
    margin: 0 auto 0 auto;
    height: 320px;
    width: 320px;
    margin-bottom: 80px;
}





.second__slide {
    background-color: #000;
}

.second__border {
    border: 1px solid white;
    width: 120px;
    height: 0;
}

.second__watches {
    display: flex;
}